#routes {
    display:block;
    color: #fef2f2 ;
    font-size: larger;
    font-weight: 900;
}

.containRoutes {
    display:flex;
    justify-content: space-around;
    background-color:  #7f1d1d;
    padding: 15px;
}

