.blockContain{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.blockSingle {
   padding: 20px;
    background-color: #fef2f2; ;
    border-radius: 2%;
    
}