

<div class="blockContain">
  <div class="blockSingle">
   <h3> Current Block Number:</h3>
   <p>
    <br />

   {{blockNumber}}
   <br />
  </p>
    <button class="btn" (click)="getBlockNumber()">Get block number</button>
  </div>

  <div class="blockSingle">
   <h3> Block data:</h3>
<p>
    <br />
    difficulty: {{ difficulty }}
    <br />
    hash: {{ hash }}
    <br />
    miner: {{ miner }}
    <br />
    nonce: {{ nonce }}
    <br />
    number: {{ number }}
    <br />
    parentHash:{{ parentHash }}
    <br />
    timestamp: {{ timestamp }}
    <br />
  </p>
    <button class="btn" (click)="getBlock()">Get Data</button>
  </div>

  <div class="blockSingle">
    <h3>Balance:</h3>
  
    <br />
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <label>
        Address:

        <input ngModel name="addressName" />
      </label>

      <br />
     
      <button class="btn" >Get Data</button>
    </form>
    <p>
    <br />
    balance of this address is:
    {{ balance }}
  </p>
  </div>

  <div class="blockSingle">
   <h3>Transaction count:</h3> 

    <br />
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <label>
        Address:
        <input ngModel name="addressNameCount"/>
      </label>
    
    <br />
    <button class="btn" >Get Data</button>
</form>
<p>
    <br />
    transaction count of this address is:
    {{transactionCount}}
  </p>
  </div>

  
</div>
