<app-nft></app-nft>
<div class="main">
<div *ngFor="let item of items" class="nfts">
    <div class="nft">
        <h3>{{item.name}}</h3>
   
    
    <div><img src={{item.image}} class="nftImage"></div> 
    <div class="data">
    <div>Description: {{item.description}}</div> 
    <div>Owner: {{item.owner}}</div> 
    <div>Price: {{item.price}}</div> 
    <div>Seller: {{item.seller}}</div> 
    <div>Sold: {{item.sold}}</div> 
</div>
    <button class="btn" (click)="buyNft(item)">Buy NFT</button>
</div>
</div>
</div>


