
<div class="contract"> 


<div class="main">
  <div class="fetch">
    
    <h1>Greeting contract </h1>
    <br />
  Fetched greeting: {{greeting}}
   <br />
    <button class="btn fetchB" (click)="fetchGreeting()">Fetch Greeting</button>
  </div>
    <hr />
   <div class="form">
     
   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="setGree">
    <label>
      Set new greeting:

      <input ngModel name="setGreeting" />
    </label>

    <br />
    <button class="btn">Change greeting</button>
  </div>
  </form>
  Response:
     <br />
  data:{{data}}
     <br />
     from:{{from}}
     <br />
     hash:{{hash}}
     <br />
     nonce:{{nonce}}
     <br />
     confirmations:{{confirmations}}
     <br />
</div>
</div>
</div>