.contract{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    margin-bottom: 20px;
    
    
}

.main {
    display: flex;
    flex-direction: column;
    
    
}

.response {
    white-space: wrap; 
    width: 500px; 
    overflow: hidden;
    text-overflow: clip;
    

}